.wrapper {
  width: 100%;
  max-width: 884px;
  border: 1px solid #e5e5e5;
}

.innerWrapper {
  flex-flow: column;
  display: flex;
  align-items: flex-start;
  padding: 20px 26px;
}

.title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.textarea {
  width: 50%;
  height: 100px;
  margin-bottom: 24px;
  resize: none;
}