.restaurant {
  width: 100%;
  padding: 12px;
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 1024px) {
  .wrapper {
    flex-flow: column;
  }
}

.comments {
  display: flex;
  flex-flow: column;
  align-items: center;
}