.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  width: 150px;
  margin-right: 10px;
}

.controls {
  display: flex;
  align-items: center;
}

.button {
  color: #fff0dc;
  background-color: #8e8e8e;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
}

.amount {
  text-align: center;
  width: 50px;
}

.price {
  padding: 0 15px;
  text-align: center;
  width: 90px;
}
